body{
	background-color: darkgrey;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}
#div1{
	background-color: transparent;
	font-family: cursive;
	margin: 0;
	padding: 15px;
	background-image: url("https://www.albanyhillsdental.com/x/cdn/?https://storage.googleapis.com/wzukusers/user-23775701/images/1f7fee01b42c4142b264e0857082cafd/blue.jpg");
    background-size: cover;
    margin-bottom: 30px;
}
#topBar{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.topList{
	display: inline;
	margin-right: 15px;
	font-size: 20px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline;
	margin-right: 15px;
	font-size: 20px;
}
#div1 a{
	color: white;
	text-decoration: none;
	padding: 20px;
	font-weight:bold;
}
#div1 a:hover{
	background-color:lightgreen;
}


#div1 a{
	color: white;
	text-decoration: none;
	padding: 20px;
	font-weight:bold;
}
#div1 a:hover{
	background-color:lightgreen;
}
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  margin-left: -20px;
  margin-top: -30px;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: -30px;
  text-align: center;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    width: 80%;
	padding: 5px 30px 15px 30px;
	border: 1px solid lightgrey;
	border-radius: 30px;
	margin-top: 40px;
    display: inline-block;
    text-align: left;
}

input[type=text] {
  width: 75%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
    width: 75%;
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
select{
	width: 75%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.btn1 {
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	margin: 10px 0;
	margin-left: 150px;
	border: none;
  	width: 25%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}
.btn2{
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	margin: 10px 0;
	margin-left: 100px;
	border: none;
  	width: 25%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

#cartDisplay{
    width: 100%;
    margin-left: -60px;
}

#applyButton{
    background-color: #4CAF50;
	color: white;
	padding: 11px;
	margin: 10px 0;
	border: none;
  	width: 15%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 40%;
  right: 40%;/* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}